* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background: hsl(100,20, 10)
}

.container{
    margin: 100px auto;
    border: 1px solid black;
    padding: 10px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    justify-content: space-around;
    background: seashell;
    
}
.content{
    flex-grow: 1;   
    justify-content: space-around; 
}
.content-display{
    border: 1px solid;
    width: 100%;
    height: 50px;
    padding: 0px 0px;
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 40px;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.content button{
    width: 30%;
    height: auto;
    border-radius: 10px;
    margin: 5px 2px;
    padding: 5px;
}
.operators{
    flex-direction: column;
    flex-wrap: wrap;  
    gap: 10px;
}
.operators button{
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin:3px 2px;
    padding: 3px;
}
